.css-area {
    margin: 20px 0 5px;
    padding: 10px;
  
    min-width: 300px;
    min-height: 90px;
    
    border: none;
    border-radius: var(--radius);
    
    background: var(--main-section-background);
    box-shadow: var(--box-shadow);
    color: #fff
}
.css-area h3 {
    font-size: 25px;
}
.css-area textarea {
    margin: 5px;
    padding: 3px;
  
    min-width: 300px;
    min-height: 90px;
    
    border: 1px rgba(0, 0, 0, 0.233) solid;
    border-radius: var(--radius);
    
    background: var(--main-section-background);
    color: #fff
}
.css-area textarea::selection {
color: #000;
background: #fff;
}

button {
    border: none;
    border-radius: var(--radius);
    padding: 10px;
    background: var(--main-section-background);
    box-shadow: var(--box-shadow);
    color: #fff;
    transition: .2s;
}
button:hover {
    background: rgba(54, 54, 54, 0.493);
    cursor: pointer;
}