body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99vh;
  /* background: rgb(83, 83, 83); */
  background: url('https://media.giphy.com/media/l0HlSIXEdFXVivfTG/giphy.gif') no-repeat 50% 50%;
  background-color: #000;
  color: rgb(255, 255, 255);
}

.App {
  background: rgba(0, 0, 0, 0.849);
  text-align: center;
  align-items: center;
  /* border: solid 1px rgb(255, 0, 0); */
  padding: 10px;
}

#main-box-area {
  background: rgba(0, 0, 0, 0.849);
  width: min-content;
  margin: auto auto 20px auto;
  padding: 10px;
  /* border: solid 1px rgb(255, 0, 0); */
}
#main-box {
  height: 150px;
  width: 150px;
  border: 5px solid rgb(255, 255, 255);
}

.costumize-area {
  margin: -5px;
  /* border: solid 1px rgb(255, 0, 0); */
}
span {
  color: rgba(255, 255, 255, 0.438);
}

#area {
  display: flex;
}

.custumize-section {
  background: rgb(15, 15, 15);
  margin: 10px;
  padding: 10px;
}

input {
  max-width: 100px;
  padding: 5px;
  text-align: center;
  border: none;
  border-radius: 10px;
  background: rgb(27, 27, 27);
  color: #fff;
}

h3 {
  text-shadow: rgba(0, 0, 0, 0.548) 2px 2px 0px;
  font-size: 25px;
  margin: 20px 0 0 0;
}

textarea {
  margin: 5px;
  padding: 10px;
  min-width: 300px;
  min-height: 90px;
  border: none;
  border-radius: 10px;
  background: rgb(15, 15, 15);
  color: #fff
}
textarea::selection {
  color: #000;
  background: #fff;
}

button {
  border: none;
  border-radius: 10px;
  padding: 10px;
  background: rgb(15, 15, 15);
  color: #fff;
  transition: .2s;
}
button:hover {
  background: rgba(15, 15, 15, 0.493);
  cursor: pointer;
}

#floating-links {
  position: fixed;
  width: min-content;
  right: 30px;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.192);
  padding: 10px;
}

#floating-links a {
  text-decoration: none;
  color: rgb(190, 190, 190);
}
#floating-links a:hover {
  text-decoration: underline;
}